body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0A192F; /* Dark blue background */
    color: #fff; /* White text color */
}

header {
    background-color: #020c1b; /* Darker blue for header */
    padding: 10px 5%;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav a, footer a {
    color: #64ffda; /* Bright accent color for links */
    text-decoration: none;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
}

.main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.profile-image {
    float: left;
    margin-right: 20px;
    border-radius: 50%; /* Circular profile image */
}

footer {
    background-color: #020c1b;
    color: #64ffda;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 20px;
}

@media (max-width: 768px) {
    .profile-image {
        width: 100%;
        margin: 0 0 20px 0;
    }

    nav ul, footer ul {
        flex-direction: column;
    }

    nav ul li, footer ul li {
        margin: 10px 0;
    }
}
