body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0A192F; /* Dark blue background */
    color: #fff; /* White text color */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, .content-container, footer {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

header, footer {
    background-color: #020c1b; /* Darker blue for header and footer */
    color: #64ffda; /* Bright accent color for text */
    padding: 20px 0;
    text-align: center;
}

header nav, .main, footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav a, footer a {
    color: #8ed1fc; /* Bright accent color for links */
    text-decoration: none;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
    color: #cae9ff;
}

.main {
    width: 100%;
}

.profile-image {
    float: left;
    margin-right: 20px;
    border-radius: 50%; /* Circular profile image */
    margin-bottom: 20px; /* Ensure space before the footer */
    width: 200px; /* Fixed width for the image */
    max-width: 100%; /* Ensures image does not overflow its container */
    height: auto; /* Maintain aspect ratio */
}

footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 20px;
}

@media (max-width: 1200px) {
    header nav, .main, footer {
        padding: 0 10px;
    }

    .profile-image {
        float: none;
        display: block;
        margin: 0 auto 20px; /* Center image on small screens */
    }
}

@media (max-width: 768px) {
    nav ul, footer ul {
        flex-direction: column;
    }

    nav ul li, footer ul li {
        margin: 10px 0;
    }
}
